* {
    font-family: "Calibri Light", Arial, sans-serif;
}

body {
    background-color: #c7ced8;
    font-family: Roboto, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 900px;
}

th, td {
    border: 2px solid #020202;
    color: #ffffff;
    text-align: center;
    padding: 1px;
}

th {
    background-color: #27426d;
}
tbody tr:nth-child(odd) {
    background-color: #4f8cef;
}
tbody tr:nth-child(even)  {
    background-color: #6facff;
}
tbody td:first-child {
    font-weight: bold;
}